<section class="centerElements">
    <h1>Editar meta</h1>
    <br/>
    <form (ngSubmit)="updateGoal()" method="POST" class="formEdit container">
        <fieldset class="row justify-content-center">
            <label for="goal_title" class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                Título<br/>
                <input 
                    id="title"
                    name="title"
                    type="text" 
                    placeholder="Viagem para Salvador" 
                    class="form-control"
                    required
                    [(ngModel)]="goal.goal_title"
                />
            </label>
            <br/><br/><br/>
            <label for="goal_cash_total" class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                Total necessário (R$)
                <br/>
                <input 
                    id="total"
                    name="total"
                    type="number" 
                    placeholder="R$"
                    class="form-control"
                    required
                    [(ngModel)]="goal.goal_cash_total"
                />
            </label>
            <br/><br/><br/>
            <label for="goal_date" class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                Data para realização
                <br/>
                <input 
                    id="dateGoal"
                    name="dateGoal"
                    type="text" 
                    maxlength="10"
                    placeholder="dd/mm/aaaa"
                    class="form-control"
                    onkeypress="formatar('##/##/####', this)"
                    required
                    [(ngModel)]="goal.goal_date"
                />
            </label>
            <br/><br/><br/>
            <label for="goal_cash_today" class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                Quanto você já possui reservado? (R$)
                <br/>
                <input 
                    id="cash"
                    name="cash"
                    type="number" 
                    placeholder="R$"
                    class="form-control"
                    required
                    [(ngModel)]="goal.goal_cash_today"
                />
            </label>
        </fieldset>
        
        <br/>
        <input type="submit" class="btn btn-primary " value="Editar">
        &nbsp;
        <input [routerLink]="['/']" type="submit" class="btn btn-secondary" value="<- Voltar">
        
    </form>
</section>